<header id="top-menu" class="lst-top-menu" ng-controller="HeaderController as controller">
	<div class="lst-content-container">
		<img class="lst-logo" src="./dist/images/pedro-cellis-logo.png" />
		<ul class="lst-items">
			<li class="lst-item" ng-repeat="option in options">
				<a ng-if="option.url" lst-scroll scroll-to="{{option.url}}" ng-bind="option.label"></a>
				<a ng-if="option.callback" ng-bind="option.label" ng-click="option.callback()"></a>
			</li>
		</ul>

		<lst-menu-button options="options"></lst-menu-button>
	</div>
</header>

<section class="lst-slide-section">
	<div class="lst-content-container">
		<h2 class="lst-message">
			<span>TRANSFORMANDO</span> <br/>
			<span class="lst-featured-larger">SONHOS</span> <span class="lst-featured-em">&nbsp;&nbsp;EM</span><br/>
			<span class="lst-featured-smaller">RESULTADOS</span><br/>
			<span class="lst-featured-spacing">ALCANÇÁVEIS!</span>
		</h2>
	</div>

	<div class="lst-info-box">COMEÇAR</div>
</section>

<section id="amanda-lima" class="lst-biography-section">
	<div class="lst-content-container">
		<div class="lst-content">
			<h2 class="lst-title">TREINE COMIGO</h2>

			<p>
					Não existe prática sem teoria e vice versa, mas para praticar é preciso
				saber o porque de determinada prática, como fazer e o que fato deve ser feito.
				É isso que eu faço, primeiro lhe mostro o porque eu fiz daquela maneira, e o que de fato
				eu fiz, e te entrego um <b>PLANEJAMENTO</b>.
			</p>

			<p>
				Somente o caminho mais eficaz e seguro de se trilhar para obter resultados é pouco,
				eu quero mesmo é estimular você à pensar no que de fato te motiva ou te faz fazer algo,
				pensar em quais são suas metas de curo, longo e médio prazo, porque é isso que irá te fazer
				ter uma mudança de comportamento, e pode ter certeza que seus comportamentos e hábitos mudarem
				seu corpo mudará e os resultados que você tanto deseja irão aparecer.
			</p>

			<p>
				Seu sucesso é o meu sucesso e meu objeitov é ajudá-lo à chegar ao seu, é pensando nisso que eu
				prescrevo um treino que cabe dentro da sua rotina diária, um treino que você não irá matar e muito
				menos ter preguiça de fazer, o motivo é bem simples, utilizaremos a intensidade ao nosso favor
				aplicando nos exercícios certos que geram pós treino um alto gasto energético, otimizando seus
				resultados, e não importa qual seja seu objetivo: hipertrofia muscular, emagrecimento ou melhora
				sistêmica da sua saúde, uma boa intensidade é indispensável.
			</p>
		</div>
		<div class="lst-content">
			<img class="lst-picture" src="src/images/amanda-perfil.png"/>

			<p class="lst-biography-text">
				Graduada em Educação Física Bacharelado pelo Centro Universitário
				Izabela Hendrix, nascida em Belo Horizonte MG, buscou explorar novos
				lugares para exercer a profissão e agora tem residência atual em Vila
				Velha ES, e trabalha como Personal Trainer e Consultora Fitness.
			</p>

			<h2 class="lst-message">
				<span>CONFIRA OS</span><br/>
				<span class="lst-featured-larger">PLANOS</span> <span class="lst-featured">&nbsp;QUE</span><br/>
				<span class="lst-featured">TENHO</span><br/>
				<span class="lst-featured">PARA VOCÊ!</span>
			</h2>
			<div class="lst-info-box">PLANOS</div>
		</div>
	</div>
</section>

<section id="consultoria" class="lst-consulting-section">
	<div class="lst-content-container">
		<div class="lst-large-column">

		</div>

		<div class="lst-small-column">

			<p class="lst-content-1">1</p>
			<p class="lst-content-2">2</p>
			<p class="lst-content-3">3</p>

		</div>

		<div class="lst-large-column">
			<div class="lst-content">
				<h3 class="lst-title">ESCOLHA SEU PLANO</h3>
				<p>
					Passo: Escolha do plano que melhor te atende, o plano Mensal você recebe 1 prescrição,
					nos planos trimestral, semestral e fidelidade você recebe 1 prescrição à cada 30 dias.
				</p>
			</div>

			<div class="lst-content">
				<h3 class="lst-title">PREENCHA O QUESTIONÁRIO</h3>
				<p>
					Preencha o Questionário: após você adquirir um dos planos você receberá por e-mail meu primeiro
					contato com acesso ao questionário, que através dele eu conhecerei você, suas particularidades,
					objetivos, etc... Só a partir dele consigo elaborar o melhor treinamento para você.
				</p>
			</div>

			<div class="lst-content">
				<h3 class="lst-title">RECEBA SEU TREINO</h3>
				<p>
					Recebimento do treino: após a análise do questionário, eu elaboro seu treino, o mesmo você recebe
					uma cópia por e-mail e primeiras orientações pelo WhatsApp, e a partir daí nosso contato será frequente.
				</p>
			</div>
		</div>
	</div>
</section>

<section id="planos" class="lst-prices-section">
	<h2 class="lst-title-gray">PLANOS</h2>
	<div class="lst-content-container">
		<lst-price-box
			title="PLANO MENSAL"
			price="110,00"
			code="9192C953FEFE54177411DFA39A8F2919">
			Treinamento com validade de 1 mês e elaborado sob suas necessidades e objetivos.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como:
			método utilizado, estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque,
			como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			title="PLANO TRIMESTRAL"
			price="250,00"
			code="DC69680891911E1DD4323F835A88C9E3">
			Treinamento com 3 treinos, cada mês é elaborado um novo onde teremos uma periodização.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como: método utilizado,
			estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque, como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			title="PLANO SEMESTRAL"
			price="590,00"
			code="C6BEBEBF68680D4334792FAD4B8C73F2">
			Treinamento com validade de 1 mês e elaborado sob suas necessidades e objetivos.
			Suporte de dúvidas via WhatsApp e E-mail, acompanha todo material de orientação, como:
			método utilizado, estímulo, vídeo de execuções personalizados dos exercícios, e claro o porque,
			como foi feito e o que de fato eu fiz.
		</lst-price-box>

		<lst-price-box
			featured="yes"
			title="FIDELIDADE"
			price="1200,00"
			code="C6BEBEBF68680D4334792FAD4B8C73F2">

			Plano Destinado àquele que entregarão 12 meses de prescrição em minhas mãos. Serão 1 ano de acompanhamento comigo,
	 		onde deixará de ser somente meses “experimentais” e passará ser fidelidade com todo suporte pelo WhatsApp e E-mail,
	  		acompanha todo material de orientação, como: método utilizado, estímulo, vídeos personalizados de execuções,
	   		e você ainda poderá presentear um amigo com um mês grátis comigo.
		</lst-price-box>

	</div>
</section>

<section class="lst-faq-section">
	<div class="lst-content-container">
		<h3 class="lst-title-white">DÚVIDAS FREQUENTES</h3>

		<lst-accordion-item title="O que é cadência e como funciona?">
			<p>
				Geralmente recomendo que seja feito no pós treino, mas nada te impede de realizar
				antes do treino...
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Como saber qual carga devo usar em cada exercício?">
			<p>Sempre após a musculação.</p>
		</lst-accordion-item>

		<lst-accordion-item title="Dificuldade em ajustar a carga e chegar à falha?">
			<p>
				A ideia será focar na quantidade de repetições estabelecidas e qual foi o número que
				foi pedido que você FALHE no seu treino. Ajuste uma carga que permita você FALHAR
				dentro do número pré-estabelecido de repetições. Dificilmente você irá achar na
				primeira tentativa realizando a primeira vez o seu treino, por isso sugiro que anote a
				carga após o treino. Dessa maneira a partir da segunda sessão de treino você será
				capaz de treinar sem precisar “achar” a carga.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Estou fazendo o método piramidal decrescente, devo buscar a falha em todas as series?">
			<p>
				O mesmo tempo que está descrito no seu treino entre uma série e outra.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title="Está escrito em meu treino que devo fazer 10 a falha + 2,3 repetições.Como é isso?">
			<p>
				Sempre após o treino de musculação.
			</p>
		</lst-accordion-item>

		<lst-accordion-item title='Como fazer aquecimento?'>
			<p>
				Sim! A ideia antes de qualquer coisa é que a pessoa se sinta bem consigo mesma, e a
				sensação de bem estar após uma pedalada num parque ou corrida numa orla de praia
				é tão boa e dificilmente irá atrapalhar de maneira significativa seus resultados.
			</p>
		</lst-accordion-item>

	</div>
</section>

<section class="lst-social-section" ng-controller="SocialController">
	<div class="lst-content-container">
		<div class="lst-social-column">
			<h4 class="lst-title">SIGA NO <b><i>INSTAGRAM</i></b></h4>
			<lst-insta-thumbs></lst-insta-thumbs>
			<div class="lst-stripe"></div>
		</div>
		<div class="lst-social-column">
			<h4 class="lst-title"><b><i>FALE CONOSCO</b></i></h4>
			<input type="text" class="lst-input-name" placeholder="SEU NOME"/>
			<input type="email" class="lst-input-email" placeholder="SEU E-MAIL"/>
			<input type="text" class="lst-input-msg" placeholder="SUA MENSAGEM..."/>

			<a ng-show="!alreadySent" class="lst-send" ng-click="sendNewsletter()">ENVIAR</a>
			<a ng-show="alreadySent" class="lst-send -positive">Cadastrado com sucesso</a>

		</div>
	</div>
</section>

<section class="lst-footer-section">
	<div class="lst-content-container">
		<h5 class="lst-title-footer">TODOS OS DIREITOS RESERVADOS.2017</h5>
		<img class="lst-logo" src="dist/images/igor-trindade-logo.png" />
		</div>
	</div>
</section>
